# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. pandas
3. Matplotlib
4. scikit-learn
5. TensorFlow

| Data Science Tools |
|--------------------|
|Jupyter Notebook  |
|RStudio|
|Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

 This a simple arithmetic expression to mutiply then add integers

In [7]:
evaluate = (3*4)+5

In [8]:
evaluate

17

This will convert 200 minutes to hours by diving by 60

In [11]:
minutes =200

In [12]:
Hours = 60

In [13]:
convert = minutes / Hours

In [14]:
convert

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Create a table of Data Science tools  
- Demonstrate basic arithmetic operations in Python  
- Explore markdown formatting techniques in Jupyter Notebooks

## Author
ASEM KHALED